/*
* Author: Gerecs Diána
* Copyright: 2023, Gerecs Diána
* Group: Szoft I-2-E
* Date: 20230-03-7
* Github: https://github.com/Gerecs Dia/
* Licenc: GNU GPL


*/#about{
    background-color: white;
    border: 3px solid gold ;
    text-align: center;
    position: fixed;
    width: 600px;
    top: 80px;
    right: -220px;
    transform: rotate(45deg);
    font-size: 13px;
    font-size: 13px;


}